<!doctype html>
<html lang="fr">
<head>
    <title>Lost Lost Soul</title>
    <link rel="stylesheet" href="css/style.css" inline>
</head>
<body>
    <div id="game" class="el">
        <div id="bg1"></div>
        <div id="bg2"></div>
        <canvas id="canvas"></canvas>
        <div id="start">
            <h1 class="title">Lost soul</h1>
            <p id="controls">Space / Touch screen : Jump</p>
            <p id="rules">Survive as long as you can in this infinite cave<br />
                Collect diamonds to buy improvements between each play<br />
                <br />Best survive time: <span id="start-best-time">0</span>s
            </p>
            <p id="start-button">Start</p>
        </div>
        <div id="shop">
            <h1 class="title">You are lost</h1>
            <p>You can purchase upgrades to go further in your next game. <span id="totalDiamondsCollected" class="diamond"></span></p>
            <ul id="shop-item-list" class="shop-item-list">
                <li data-item="light">
                    <p class="shop-item-data">
                        <span class="diamond shop-item-price">50</span>
                    </p>
                    <div class="shop-text">
                        <h2>+10% Light power</h2>
                        <p class="shop-description">Increases light duration</p>
                        <p class="shop-current-bonus">current bonus: <span>0</span>%</p>
                    </div>
                </li>
                <li data-item="fall">
                    <p class="shop-item-data">
                        <span class="diamond shop-item-price">50</span>
                    </p>
                    <div class="shop-text">
                        <h2>-5% Fall damages</h2>
                        <p class="shop-description">Reduces damages when falling of ground</p>
                        <p class="shop-current-bonus">current bonus: <span>0</span>%</p>
                    </div>
                </li>
                <li data-item="spikes">
                    <p class="shop-item-data">
                        <span class="diamond shop-item-price">50</span>
                    </p>
                    <div class="shop-text">
                        <h2>-5% Spikes damages</h2>
                        <p class="shop-description">Reduces damages when walking on spikes</p>
                        <p class="shop-current-bonus">current bonus: <span>0</span>%</p>
                    </div>
                </li>
            </ul>
            <p>Survive time: <span id="shop-current-score"></span>s - Best: <span id="shop-best-score"></span>s</p>
            <p id="restart-button">Restart</p>
            <p id="get-more-button">get more&nbsp;<span class="diamond"></span></p>
        </div>
        <div id="get-more-popin">
            <h1 class="title">Get more <span class="diamond"></span></h1>
            <p><span class="diamond" id="get-more-amount">0</span> for now</p>
            <ul class="shop-item-list">
                <li data-value="100">
                    <p class="shop-item-data">
                        <span class="diamond shop-item-price">100</span>
                    </p>
                    <div class="shop-text">
                        <h2>Like diamonds</h2>
                        <p class="shop-description">A few diamonds for free!<br/>Don't forget to like my game</p>
                    </div>
                </li>
                <li data-value="1000">
                    <p class="shop-item-data">
                        <span class="diamond shop-item-price">1000</span>
                    </p>
                    <div class="shop-text">
                        <h2>Share diamonds</h2>
                        <p class="shop-description">A lot of diamonds for free!<br />Don't forget to share my game on your favorites social networks!</p>
                    </div>
                </li>
            </ul>
            <p id="close-popin-button">Close</p>
        </div>
        <div id="ui">
            <div id="healthBar">
                <div id="healthBarProgress"></div>
                <p><span id="health">100</span>%</p>    
            </div>
            <p id="diamonds" class="diamond">0</p>
        </div>
        <p id="music-toggle">&#x266b;</p>
    </div>
    <script src="scripts/game.js" inline></script>
</body>
</html>