<!doctype html>
<html lang="fr">
<head>
    <title>Lost Lost Soul</title>
    <link rel="stylesheet" href="css/style.css" inline>
</head>
<body>
    <div id="game" class="el">
        <div id="bg1"></div>
        <div id="bg2"></div>
        <canvas id="canvas"></canvas>
        <div id="start">
            <h1 class="title">Lost soul</h1>
            <p id="controls">Space / Touch screen : Jump</p>
            <p id="rules">Survive as long as you can in this infinite cave<br />
                Collect diamonds to buy improvements between each play
            </p>
            <p id="start-button">Start</p>
        </div>
        <div id="shop">
            <h1 class="title">Shop</h1>
            <ul id="shop-item-list">
                <li>
                    <p class="shop-item-data">
                        +10%
                        <span class="diamond shop-item-price">50</span>
                    </p>
                    <div class="shop-text">
                        <h2>Light power</h2>
                        Increases light duration
                        current bonus: <span>0%</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="ui">
            <p id="health">100</p>
            <p id="diamonds" class="diamond">0</p>
        </div>
    </div>
    <script src="scripts/game.js" inline></script>
</body>
</html>