.shop-item-list {
    text-align: left;
    li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-top: 20px;
        padding-left: 10px;
        cursor: pointer;
        &.disabled {
            color: #555;
            cursor: normal;
            .shop-item-price {
                color: #c44;
            }
        }
    }
}

#shop-item-list {
    margin-bottom: 20px;
}

.shop-item-data {
    width: 90px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.shop-text {
    width: calc(100% - 90px);
    display: inline-block;
    vertical-align: middle;
    h2 {
        font-size: 20px;
    }
}

.shop-description {
    font-size: 16px;
}

.shop-current-bonus {
    font-size: 14px;
}

#restart-button {
    margin-top: 20px;
}

#get-more-button {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 20px;
}
