* {
    margin: 0;
    padding: 0;
    &, 
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    background: #333;
    font-size: 0;
}

#game {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 450px);
    width: 900px;
    height: 400px;
    background: #356a9e;
    border: 1px solid #000;
}

#canvas,
#bg1,
#bg2,
#start,
#ui,
#shop,
#get-more-popin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg1 {
    animation: bg1 20s linear infinite;
    transform: translateZ(0);
}

@keyframes bg1 {
    from {background-position: 0 0;}
    to {background-position: -1360px 0;}
}


#bg2 {
    animation: bg2 15s linear infinite;
    transform: translateZ(0);
}

@keyframes bg2 {
    from {background-position: 0 0;}
    to {background-position: -1500px 0;}
}

#start,
#shop,
#get-more-popin {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-variant: small-caps;
}

#start {
    padding-left: 40%;
    .title {
         margin-bottom: 40px
    }
}

#shop {
    display: none;
    background: rgba(0,0,0,0.7);
}

#get-more-popin {
    margin: 0 5%;
    width: 90%;
    top: 5%;
    height: 90%;
    background: rgba(0,0,0,0.9);
    border: 2px solid #fff;
}

.title {
    font-size: 40px;
}

#controls {
    margin: 0 0 20px;   
}

#rules {
    margin: 0 0 40px;  
}

#start-button,
#restart-button,
#close-popin-button {
    display: inline-block;
    border: 3px solid black;
    background: rgba(126,255,91,0.7);
    font-size: 26px;
    line-height: 46px;
    height: 50px;
    padding: 0 20px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
}

#ui {
    display: none;
    pointer-events: none;
}

#diamonds,
#healthBar {
    position: absolute;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}

#healthBar {
    top: 5px;
    left: 5px;
    width: 250px;
    background: #000;
    border: 2px solid #000;
    text-align: center;
}

#healthBarProgress {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ed6a5a;
    transition: width 0.2s ease;
}

#diamonds {
    right: 10px;
}

#health {
    left: 10px;
    position: relative;
}

.diamond {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

#get-more-popin {
    display: none;
    .title {
        .diamond {
            margin-left: 10px;
            background-size: contain;
        }
    }
    .shop-item-list {
        margin: 30px 0;
    }
}

@import 'shop';
